button{
    border: none;
    background-color: black;
    border-radius: 10px;
    min-width: 2rem;
    min-height: 2rem;
    color: white;
    font-weight: bold;
}
.counter-box{
    background-color: gray;
    border-radius: 10px;
    border: 2px solid gray;
}